################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/service_invoke/BackEnd/obj
/service_invoke/BackEnd/bin/Debug/net6.0
/service_invoke/FrontEnd/obj
/service_invoke/FrontEnd/bin/Debug/net6.0
/state_management/StateManage/bin/Debug/net6.0
/state_management/StateManage/obj
